<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Settings" type="CharacterEditor.Settings, CharacterEditor"/>
  </configSections>

  <Settings
    xmlRootDir="D:\Documents and Settings\Ben.ARAGORN\My Documents\Visual Studio 2008\Projects\BattleSim\XmlData"/>

</configuration>